h1 {
    box-sizing: border-box;
    padding: 1vw;
    margin: 1vh;
    background-color: pink;
    border: 3vh;
    border: solid; color: red;
}


.box-1 {
     padding: 15vh;
     margin: 5vw;
     background-color: lightgreen;
}

.box-2 {
    margin: 4vh;
    background-color: yellow;
    padding: 4vw;
    border: 3vh;
    border-style: solid; 
    border-color: pink;
}

.p1 {
    color: rgb(2, 44, 197);
}

.p2 {
    color: green;
}

.p3 {
    color: rgb(254, 43, 216);
}

.p4 {
    color: purple;
}